[user]
	name = Mateusz Dobek
	email = mat.dobek@gmail.com
[github]
  user = matdobek
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[push]
	default = current
[credential]
  helper = osxkeychain
#[commit]
  #gpgsign = true
